#API
API_URL='strapi enpoint for fetching images and room options'
#General
HOTEL_NAME='Pensiunea x'
CUI='16905642'
coverTitle='Rezervă-ți vacanța la Pensiunea x chiar in inima Maramuresului.'
coverDescription='Descoperă autenticitatea și frumusețea Maramureșului: Pensiunea noastră, o oază de relaxare și ospitalitate în inima României. Îmbinând tradiția cu confortul modern, te invităm să te bucuri de o experiență de neuitat într-un peisaj idilic, cu dealuri verzi și sate pitorești.'
coverDescription2='Tratament balneoclimateric, Conditii moderne, Obiective turistice usor accesibile'
BookNow='Rezerva Acum'
#Gallery
GALERY_0_NAME='PENSIUNE'
GALERY_0_LINK="enpoint/rooms/14"
GALERY_1_NAME='Camere'
GALERY_1_LINK="enpoint/rooms/19"
GALERY_2_NAME='Facilitati'
GALERY_2_LINK="enpoint/rooms/20"
GALERY_3_NAME='Obiective'
GALERY_3_LINK="enpoint/rooms/21"
#Contact Form
GOOGLE_API=''
LATITUDE='47.79634237145102'
LONGITUDE='23.93976514602034'
CONTACT_PHONE1='0000-000-0000'
CONTACT_PHONE2=''
#Cover_image
COVER1='https://teleptean.s3.eu-west-3.amazonaws.com/ecomaramures2_50e46b42f0.jpg'
COVER1_MOBILE='https://teleptean.s3.eu-west-3.amazonaws.com/ecomaramures2_50e46b42f0.jpg'
COVER2='https://teleptean.s3.eu-west-3.amazonaws.com/Whats_App_Image_2023_07_04_at_19_20_50_0ff60aca2f.jpeg'
COVER3='https://teleptean.s3.eu-west-3.amazonaws.com/big_pensiunea_teleptean_ocna_sugatag_qzd6458vg1am_29861937f2.jpg'
COVER4='https://teleptean.s3.eu-west-3.amazonaws.com/2018_12_02_7173cc23b7.jpg'
COVER5='https://teleptean.s3.eu-west-3.amazonaws.com/small_pasted_image_0_35f5d670f4.png'
#Components
#about
aboutDetails='Alege din opțiunile noastre de cazare, în funcție de nevoile tale și de numărul de persoane. Deschide galeria pentru a vizualiza fotografiile cu camerele noastre disponibile.'
#be happy zone
behappy='Bucura-te de timpul petrecut alaturi de noi'
behappyDetails='Puteți avea o ședere relaxantă și liniștită la Pensiunea x, având încrederea că ne ocupăm de tot ce ține de confortul dumneavoastră.'
behappyDetails2='Dacă aveți întrebări pentru noi:'
behappyContact='Contacteaza-ne'
behappyCoverImg='https://teleptean.s3.eu-west-3.amazonaws.com/Mask_group_889fc8fd1c.png'
#Book Button
bookButton='rezerva'
bookButtonforBookings='Pentru rezervari'
##Book list comp
currency='lei'
camera='camera'
bookNow='Rezerva acum'
moreInfo='mai multe informatii'
SPA_TITLE='Descopera Tratamentul Balneo Climateric'
SPA_DESCRIPTION='Tratamentul balneo-climateric oferă numeroase beneficii pentru sănătate și bunăstare. Acest tip de terapie combină proprietățile vindecătoare ale apelor minerale și ale climatului, creând un mediu ideal pentru relaxare și refacere. Beneficiile tratamentului balneo-climateric sunt multiple: stimularea circulației sanguine și limfatice, reducerea durerilor articulare și musculare, ameliorarea stresului și anxietății, întărirea sistemului imunitar, detoxifierea organismului, îmbunătățirea sănătății pielii și a funcției respiratorii. De asemenea, acest tratament poate contribui la reglarea tensiunii arteriale, la reducerea insomniei și la ameliorarea afecțiunilor reumatice. Prin combinația dintre apele minerale și climatul specific, tratamentul balneo-climateric devine o experiență terapeutică holistică, având efecte benefice asupra întregului organism.'
reclama='Daca treci prin Maramures si ai nevoie de o un loc de cazare primitor, Pensiunea Teleptean este alegerea ideala.'
reclamaMobile='Daca treci prin Maramures, Pensiunea Teleptean este alegerea ideala.'
city='437205 Ocna Sugag, România'